*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}


.container{
    display: flex;

}


.menu ul{
    display:flex;
    list-style: none;
   justify-content: space-around;
   
}

.menu{
    flex: 1;
}


